html {
  box-sizing: border-box;
  font-size: 62.6%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

input:focus {
  outline: none;
}

.context-menu button {
  padding: 4px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: #e79c25;
}
